Repository trustypangolin/bedrock-foundation-template: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger_org, trigger_management, trigger_security

.gitlab-ci.yml:

stages:
  - triggers

# All other directories need the Org to be fired off first to ensure the org state is upto date with outputs
trigger_org:
  stage: triggers
  trigger:
    include: tf/org/.gitlab-ci.yml
  variables:
    ENVIRONMENT: org
  rules:
    - changes:
        - tf/**/*

trigger_management:
  needs: ["trigger_org"]
  stage: triggers
  trigger:
    include: tf/management/.gitlab-ci.yml
  variables:
    ENVIRONMENT: management
  rules:
    - changes:
        - tf/management/*

trigger_security:
  needs: ["trigger_org"]
  stage: triggers
  trigger:
    include: tf/security/.gitlab-ci.yml
  variables:
    ENVIRONMENT: security
  rules:
    - changes:
        - tf/security/*

both
  tf/deploy/tf_import.sh
  tf/deploy/tf_plan.sh
  tf/management/.gitlab-ci.yml
  tf/management/cur_s3.tf
  tf/org/.gitlab-ci.yml
Due: trigger_org, trigger_management

prtest
  tf/deploy/aws_assumerole.sh
  tf/main.tf
  tf/management/.gitlab-ci.yml
  tf/management/cur_s3.tf
  tf/org/.gitlab-ci.yml
  tf/security/.gitlab-ci.yml
  tf/terraform.tfvars.template
Due: trigger_org, trigger_management, trigger_security

Roles updates
  .gitlab-ci.yml
  tf/bitbucket-oidc.tf
  tf/deploy/aws_assumerole_member.sh
  tf/deploy/aws_assumerole_oidc.sh
  tf/deploy/tf_import.sh
  tf/deploy/tf_output.sh
  tf/deploy/tf_plan.sh
  tf/deploy/tf_state.sh
  tf/github-oidc.tf
  tf/gitlab-oidc.tf
  tf/iam.tf
  tf/main.tf
  tf/management/.gitlab-ci.yml
  tf/management/cur_s3.tf
  tf/management/org_state.tf
  tf/management/provider.tf
  tf/management/remote_state.tf.template
  tf/management/variables.tf
  tf/org/.gitlab-ci.yml
  tf/org/provider.tf
Due: trigger_org, trigger_management

remove unneeded file
  tf/deploy/aws_assumerole_member.sh
  tf/management/cur_s3.tf
Due: trigger_org, trigger_management

OIDC Github Actions
  .github/workflows/tf-org.yml
Due: none

Push
  cfn/bitbucket-oidc.yml
  cfn/github-oidc.yml
  cfn/gitlab-oidc.yml
  cfn/oidc-foundation-bootstrap.yml
  tf/bitbucket-oidc.tf
  tf/central/iam-alias.tf
  tf/central/module_all.tf
  tf/central/module_ops.tf
  tf/central/org_state.tf
  tf/central/outputs.tf
  tf/central/provider.tf
  tf/central/provider_regional_central.tf
  tf/central/terraform.tfvars.template
  tf/central/variable.tf
  tf/github-oidc.tf
  tf/gitlab-oidc.tf
  tf/iam.tf
  tf/oidc-foundation-bootstrap.tf
  tf/org/dynamodb.tf
  tf/org/org_policy_backup.tf
  tf/org/org_policy_scp.tf
  tf/org/outputs.tf
  tf/org/provider.tf
  tf/org/remote_state.tf.template
  tf/org/sso.tf
  tf/org/variables.tf
  tf/provider.tf
  tf/security/org_state.tf
  tf/security/provider.tf
  tf/security/variables.tf
  tf/variables.tf
Due: trigger_org, trigger_security

mgmt
  tf/management/cloudtrail.tf
  tf/management/cloudwatch_metrics.tf
  tf/management/cur_s3.tf
  tf/management/module_all.tf
  tf/management/org_state.tf
  tf/management/provider.tf
  tf/management/provider_regional_management.tf
  tf/management/remote_state.tf.template
  tf/management/variables.tf
  tf/management/variables_mgmt.tf
Due: trigger_org, trigger_management

Org
  tf/org/org.tf
  tf/org/variables.tf
  tf/security/provider_regional_management.tf
Due: trigger_org, trigger_security

baseline sec
  tf/modules/regional/foundation_baseline_lambda/cloudformation/aws-instance-scheduler.yml
  tf/modules/regional/foundation_baseline_lambda/lambda_instance_scheduler.tf
  tf/modules/regional/foundation_baseline_lambda/variable.tf
  tf/modules/regional/foundation_baseline_security/outputs.tf
Due: trigger_org

Update README.md
  README.md
Due: none

iam
  tf/org/iam-tf-role.tf
Due: trigger_org

Updates to Foundation
  tf/iam-deploy-role.tf
Due: trigger_org
